/* Global Styles */
@font-face {
    font-family: 'Cake4Freaks-Regular';
    src: url('./assets/fonts/Cake4Freaks-RegularText.otf') format('opentype');
    font-weight: 400;
} 
@font-face {
    font-family: 'Henmania-Black';
    src: url('./assets/fonts/Henmania-Black.otf') format('opentype');
    font-weight: 400;
} 
body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 714px;
    margin: 0 auto;
}
a:hover, a *:hover {
    color: pink !important;
}
a, a * {
    text-decoration: none;
}
* {
    -webkit-font-smoothing: antialiased;
    font-family: 'Cake4Freaks-Regular';
    font-size: 23px;
    box-sizing: border-box;
    font-feature-settings: "lnum", "liga";
}
h3 {
    font-weight: 400 !important;
}
.hen.font-input {
    font-family: 'Henmania-Black';
}
.hidden {
    display: none !important;
}
.title, .titles p {
    text-transform: uppercase;
}
.wip {
    text-transform: lowercase;
    letter-spacing: 0 !important;
}
.invisible {
    visibility: hidden;
}
.visible {
    visibility: visible !important;
}

/* Header */
.desktop-heading, .contact {
    display: grid;
    grid-template-columns: repeat(23, 30px);
    grid-template-rows: repeat(7, 28.5px);
    margin-top: 60px;
    grid-auto-flow: column;
}
.desktop-heading .top {
    letter-spacing: 2.11px;
    line-height: 28.5px;
}
.desktop-heading .left {
    grid-row: 3;
    letter-spacing: 2px;
    line-height: 28.5px;
}
.desktop-heading .right {
    grid-row: 3;
    grid-column: 16;
    letter-spacing: 2px;
    line-height: 28.5px;
}
.desktop-heading .bottom {
    grid-row: 6;
    letter-spacing: 2.11px;
    line-height: 28.5px;
}
.desktop-heading .info {
    grid-row: 3 / 6;
    grid-column: 9 / 16;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.info .name,.info .type-design {
    line-height: 28.5px;
}
.info .name {
    text-transform: uppercase;
    letter-spacing: 3px;
}
.info .type-design {
    font-size: 22px;
}
.options label {
    letter-spacing: 2px;
}
/* Contact */
.contact .desktop.top {
    grid-column: 1 / 23;
    grid-row: 1;
}
.contact .desktop.top, .contact .desktop.bottom {
    letter-spacing: 2.16px;
    line-height: 28.5px;
}
.contact .desktop.bottom {
    grid-row: 7;
}
.contact .left {
    grid-column: 1;
    grid-row: 2 / 7;
    letter-spacing: 2px;
    line-height: 28.5px;
    display: flex;
    flex-direction: column; 
    justify-content: center;
    word-wrap: break-word;
}
.contact .right {
    grid-column: 23;
    grid-row: 2 / 7;
    letter-spacing: 2px;
    line-height: 28.5px;
    display: flex;
    flex-direction: column; 
    justify-content: center;
    word-wrap: break-word;
}
.contact .contact-info {
    grid-row: 2 / 7;
    grid-column: 2 / 23;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 34px;
    margin-right: 34px;
}
.contact-info p:first-child {
    font-size: 20px;
    margin: 0 15px;
    letter-spacing: 0px;
}
.contact-info a.email p {
    letter-spacing: 3px;
}
.email p {
    letter-spacing: 3px;
    font-size: 23px !important;
}

/* Sun and Moon */
body.dark-mode, body.dark-mode * {
    background-color: black;
    color: white;
}
body.light-mode, body.light-mode * {
    color: black;
    background-color: white;
}
#sun-and-moon {
    display: flex;
    position: fixed;
    right: 0;
    background-color: transparent;
    right: 1%;
    top: 2%;
}
#sun, #moon {
    height: 26px;
    width: 26px;
    background-repeat: no-repeat;
    background-size: contain;
    margin: 0 3px;
    background-color: transparent;
    cursor: pointer;
}
body.light-mode #sun {
    background-image: url('https://i.imgur.com/9Mittl6.png');
}
body.dark-mode #sun {
    background-image: url('https://i.imgur.com/hiCtBB5.png');
}
body.light-mode #moon {
    background-image: url('https://i.imgur.com/qww9fRO.png');
}
body.dark-mode #moon {
    background-image: url('https://i.imgur.com/nVRAPPY.png');
}

/* Font Areas */
.title-dropdown, .titles.dropdown-content, .alignment-option, .alignment-option label, .features, .features label {
    cursor: pointer;
    width: fit-content;
}
.features .features-dropdown * {
    font-size: 16px !important;
    letter-spacing: 2px;
}
.title-dropdown:hover .titles.dropdown-content {
    display: block !important;
    position: absolute;
    border: 1px solid white;
    letter-spacing: 2px;
}
body.light-mode .title-dropdown:hover .titles.dropdown-content  {
    border: 1px solid black;
}
.font-area-2 .title-dropdown:hover .titles.dropdown-content, .font-area-1 .title-dropdown:hover .titles.dropdown-content {
    margin-top: -105px !important;
}
.title-dropdown:hover .titles.dropdown-content p {
    margin: 10px;
    font-size: 16px;
}
.title-dropdown:hover .titles.dropdown-content .wip {
    font-size: 16px;
}
.alignment-option input[type="radio"] {
    display: none;
}
.features:hover .features-dropdown {
    display: block !important;
    position: absolute;
    border: 1px solid white;
    padding: 10px;
}
body.light-mode .features:hover .features-dropdown {
    border: 1px solid black;
}
.features:hover .features-dropdown.hen {
    margin-top: 100px;

}
.features:hover .features-dropdown.c4f {
    margin-top: 158px;
}
.features:hover .features-dropdown * {
    font-size: 23px;
}
div.alignment-option:hover > .alignment-dropdown {
    display: flex !important;
    position: absolute;
    border: 1px solid white;
    margin-top: 60px;
}
body.light-mode div.alignment-option:hover > .alignment-dropdown {
    border: 1px solid black;
}
.alignment-dropdown label {
    padding: 10px 5px;
}
.all-fonts {
    width: 100%;
    display: flex;
    flex-direction: column;
}
.font-area {
    margin-top: 60px;
}
.font-area .options {
    display: flex;
    justify-content: space-between;
}
.font-area .options.top {
    display: flex;
    justify-content: flex-end;
}
.font-area .options .features {
    margin-right: 10px;
}
.options label {
    text-transform: uppercase;
}
textarea {
    /* min-height and min-width don't allow text box to get smaller than its container */
    height: 202px;
    font-size: 78px;
    text-align: center;
    width: 100%;
    box-sizing: border-box;
    padding: 50px 5px;
    resize:none;
    border-left: 0px;
    border-right: 0px;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
}
body.light-mode textarea {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}
::-webkit-resizer {
    display: none;
}
textarea:focus {
    outline: 0;
}
.font-area label, .alignment-option * {
    font-size: 16px;
}
h3.title {
    letter-spacing: 3px;
    margin-bottom: 2px;
    padding: 5px 0;
}
.slider {
    -webkit-appearance: none;
    appearance: none;
    height: .75px;
    background-color: white !important;
    outline: none;
    -webkit-transition: .2s;
    transition: .2s;
    margin-left: 2px;
    margin-right: 4px;
    width: 105px !important;
}
body.light-mode .slider {
    background-color: black !important;
}
.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background: black;
    border: 1px solid white;
    cursor: pointer;
}
body.light-mode .slider::-webkit-slider-thumb {
    border: 1px solid black;
}
.options > div {
    display: flex;
    justify-content: center;
    align-items: center;
}
.slider::-moz-range-thumb {
    width: 14px;
    height: 14px;
    background: white;
    cursor: pointer;
}

/* Bea Section */
.bea {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.bea-info * {
    font-size: 23px !important;
}
.bea-section {
    margin: 40px auto;
}
.bea-section img {
    height: 275px;
    width: auto;
    object-fit: cover;
    overflow: hidden;
}
.tumblr-web {
    display: flex;
    justify-content: space-between;
    letter-spacing: 3px;
    margin: 40px 0;
}
.tumblr-web a {
    margin-left: 10px;
}
.heart {
    text-align: center;
}
.heart.top {
    margin-top: 20px;
}
.heart.halo {
    margin-top: 60px;
}
.bea-image {
    display: grid;
    grid-template-columns: repeat(9, 30px);
    grid-template-rows: repeat(12, 28.5px);
    margin-bottom: 20px;
}
.bea-image .top {
    grid-row: 1;
    letter-spacing: 2.11px;
    line-height: 28.5px;
}
.bea-image .left {
    grid-row: 2 / 12;
    letter-spacing: 2px;
    line-height: 26px;
    display: flex;
    flex-direction: column; 
    justify-content: center;
    word-wrap: break-word;
}
.bea-image .right {
    grid-row: 2 / 12;
    grid-column: 9;
    letter-spacing: 2px;
    line-height: 26px;
    display: flex;
    flex-direction: column; 
    justify-content: center;
    word-wrap: break-word;
}
.bea-image .bottom {
    grid-row: 12;
    letter-spacing: 2.11px;
    line-height: 28.5px;
}
.bea-image .image-container {
    grid-row: 2 / 11;
    grid-column: 2 / 9;
    margin: 0 auto;
    margin-top: 5px;
}

/* License Page */
.license-container iframe {
    width: 100%;
    height: 100vh;
}
iframe::-webkit-scrollbar { 
    display: none; 
}

/* Responsive Styling */

.mobile-heading {
    display: none;
}
.mobile.left, .mobile.right, .mobile.top, .mobile.bottom, .tumblr-mobile {
    display: none;
}

@media screen and (max-width:768px) {
    /* Global */
    body {
        max-width: 320px;
        padding: 0 15px;
    }
    #sun-and-moon {
        display: flex;
        position: absolute;
        top: 722px;
        left: 45%;
    }

    /* Header */
    .desktop-heading {
        display: none;
    }
    .mobile-heading {
        display: grid;
        grid-template-columns: repeat(9, 30px);
        grid-template-rows: repeat(9, 29px);
        margin-top: 50px;
    }    
    .mobile-heading .top {
        letter-spacing: 2.11px;
        line-height: 29px;
    }
    .mobile-heading .left {
        grid-row: 4 / 7;
        letter-spacing: 2.11px;
        line-height: 29px;
        display: flex;
        flex-direction: column; 
        justify-content: center;
        word-wrap: break-word;
    }
    .mobile-heading .right {
        grid-row: 4 / 7;
        grid-column: 9;
        letter-spacing: 2.11px;
        line-height: 29px;
        display: flex;
        flex-direction: column; 
        justify-content: center;
        word-wrap: break-word;
    }
    .mobile-heading .bottom {
        letter-spacing: 2.11px;
        line-height: 29px;
        grid-row: 7;
    }
    .mobile-heading .info {
        grid-row: 4 / 7;
        grid-column: 2 / 9;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    /* Contact Section */
    .desktop.top, .desktop.bottom, .desktop.left, .desktop.right {
        display: none;
    }
    .contact {
        grid-template-columns: repeat(9, 30px);
        grid-template-rows: auto;
    }
    .mobile.top {
        display: flex;
        grid-row: 1;
        grid-column: 1 / 10;
        letter-spacing: 2.11px;
        line-height: 29px;
    }
    .mobile.bottom {
        display: flex;
        grid-row: 10;
        grid-column: 1 / 10;
        letter-spacing: 2.11px;
        line-height: 29px;
    }
    .mobile.left {
        display: flex;
        grid-row: 2 / 9;
        line-height: 27px;
    }
    .mobile.right {
        display: flex;
        grid-row: 2 / 9;
        grid-column: 9;
        line-height: 27px;
    }
    .contact .contact-info {
        grid-row: 2 / 10;
        grid-column: 2 / 9;
        flex-direction: column;
        justify-content: space-around;
        margin: 0;
    }
    .contact .contact-info *, .contact .contact-info p {
        text-align: center;
        margin: 0 2px;
    }
    .contact-info a.email p {
        letter-spacing: 1px;
    }

    /* Font Areas */
    textarea {
        height: 150px;
        padding: 30px 5px;
    }
    .options {
        flex-direction: column;
    }
    .options > div {
        justify-content: space-between;
        margin-top: 2px;
    }
    .all-fonts {
        margin-top: 100px;
    }
    .font-area-2 {
        margin-top: 100px;
    }
    .font-area .options.top {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        margin-bottom: -73px;
    }
    .font-area .title-dropdown {
        margin-bottom: 20px;
    }
    h3.title {
        font-size: 20px;
    }

    /* Bea Section */
    .bea-section {
        width: 100%;
    }
    .tumblr-web {
        display: none;
    }
    .tumblr-mobile {
        display: flex;
        justify-content: center;
        margin: 30px 0;
    }

    /* License Page */
    .columns {
        grid-template-columns: 1fr;
    }
}